*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-primario: #ffffff;
    --bg-fondo: #F5F5F5;
    --txt-primario: #000000;
    --txt-secundario: #797979;
    --arial:  Arial, sans-serif;
    --sombra-chica: 0px 0px 5px rgba(99, 98, 98, 0.5);
    --sombra-grande: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

body{
    font-family: var(--arial);  
    margin: 30px 0 30px 0;
}

.contenedor{
    width: 400px;
    height: 803px;
    background-color: #FF453A;
    border-radius: 36px;
    gap: 16px;
    margin: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
.imgUsuario{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.usuario{
    margin: 70px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.usuario p{
    color: #000000;
    margin-left: 10px;
}
.campana{ 
    margin-left: auto;
    font-size: 25px;
    color: var(--txt-secundario);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.buscar{
    margin: auto;
    position: relative;
}

.buscar input[type="text"]{
    border: none;
    width: 350px;
    height: 40px;
    border-radius: 30px;
    box-shadow: var(--sombra-chica); 
    padding-left: 20px;

}
 .lupa{
    position: absolute; 
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 20px;
    border: none;
    background-color: transparent;
 }


.contenedorIMG{
    display: flex;

        flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(33, 30, 184);
    padding: 1rem;
    border-radius: 1rem;
}

.productos{
      list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #000; 

}
.lista{   

    border-radius: 50% ;
    background-color: rgb(246, 255, 127);
    text-align: center;
  color: #fff;
}
.lista img {
    background-color: #FF453A;
    height: 70px;
    width: 70px;
        object-fit: contain;

}
.boton {
    text-align: center;

    border: none;
    background-color: #40ff3a;
    border-radius: 50px;
  font-weight: bold;
}

.perro {
    background-color: #3aff3a;
    height: 70px;
    width: 70px;
}