*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-primario: #F5F5F5;
    --bg-fondo: #ffffff;
    --txt-primario: #000000;
    --txt-secundario: #797979;
    --arial:  Arial, sans-serif;
    --fuente-secundaria: Georgia;
    --sombra-chica: 0px 0px 5px rgba(58, 58, 58, 0.5);
    --sombra-grande: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

body{
    font-family: var(--arial);  
    margin: 30px 0 30px 0;
}

.contenedor{
    width: 400px;
    height: 803px;
    background-color: var(--bg-fondo);
    border-radius: 30px;
    gap: 10px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.imgUsuario{
    border: 1px solid #797979;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.usuario{ 
    margin: 60px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.usuario p{
    color: #000000;
    margin-left: 10px;
}
.campana{ 
    margin-left: auto;
    font-size: 25px;
    color: var(--txt-secundario);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.buscar{  
    margin: 0 auto;
    position: relative;  
}

.buscar input[type="text"]{
    border: none;
    width: 350px;
    height: 40px;
    border-radius: 30px;
    padding-left: 20px;
    box-shadow: var(--sombra-chica); 
}
 .lupa{
    position: absolute; 
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 20px;
    border: none;
    background-color: transparent;
 }


.contenedorIMG{ 
    padding: 0 2rem;
    border-radius: 1rem;
}

.contenedorIMG ul{
    display: flex;
    justify-content: space-between;
}
.foto{
    box-shadow: var(--sombra-chica);
    background-color: #000000;
    border-radius: 50%;       
    height: 80px;
    width: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.animal{
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.lista{ 
 display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.boton {
    box-shadow: var(--sombra-chica);
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
  cursor: pointer;
}
 .linea{
    background-color: var(--txt-secundario);
    width: 40%;
    height: 1px;
    margin: 0 auto;
 }
 .texto{ 
    color: var(--txt-secundario);
    text-align: center;
    font-size:15px;
 }

 .texto p{
    margin-top: 5px;
 }
 .tarjetas{
    display: flex;
    flex-direction: row;
    margin: 0 auto 0;
    gap: 1.5rem; 
 }
 .tarjeta{
    background-color: #ffffff;
    border-radius: 20px;
    height: 300px;
    box-shadow: var(--sombra-chica); 
 }
.animales{
    border-radius: 20px;
    height: 140px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--sombra-chica); 
}
.imagen{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.estado{
    color: #FF453A;
    font-size: 11px;
    text-align: center;
    margin: 10px auto;

}
.titulo{
    font-weight: bold;
    font-size: 18px;
    font-family: var(--fuente-secundaria);
    text-align: center;
    margin:10px auto;

}
.precio{
    font-family: var(--fuente-secundaria);
    color: #797979;
    font-size: 11px;
     margin:10px auto;
     text-align: center;
}

 .comprar {
    display: block;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.verMas{
    line-height: 40px;
    border: none;
    color: var(--bg-primario); 
    margin: 0 auto;
    background-color: var(--txt-primario);
    border-radius: 20px;
    width: 178px;
    cursor: pointer;
}
.panel {
  width: 352px;
  height: 78px;
  background-color: #000000;
  border-radius: 50px;
  color: var(--bg-primario);
  font-size: 30px;
  margin: auto auto 0.5em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 15px;
}

.panel ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon .fa-house {
  background-color: var(--txt-secundario);
  padding: 15px;
  border-radius: 50%;
}
.icon i { 
  cursor: pointer;
  color: var(--bg-primario);
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}