*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-primario: #ffffff;
    --bg-fondo: #F5F5F5;
    --txt-primario: #000000;
    --txt-secundario: #797979;
    --arial:  Arial, sans-serif;
    --sombra-chica: 0px 0px 5px rgba(0, 0, 0, 0.5);
    --sombra-grande: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

body{
    margin-top: 50px;
}

.contenedor{
    width: 400px;
    height: 803px;
    background-color: var(--bg-primario);
    border-radius: 36px;
    gap: 16px;
    margin: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.perro{
    margin: 50px 0 0 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.p{
    font-size: 15px;
    color: #FF453A;
}

.usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    width: 100%;
}
.icono{
    font-size: 30px;
    height: 40px;
    display: flex; 
    flex-direction: column; 
 }
 
.verMas{
    border-radius: 50px;
    height: 40px;
    width: 178px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 380px ;
}

.panel{
    width: 352px;
    height: 78px;
    background-color: #000000;
    border-radius: 50px;
    color: var(--bg-primario);
    font-size: 30px;
    padding: 10px;
    margin: 0 20px 0 20px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background: transparent; 
    border: none;
    background-color: var(--txt-primario);
    color: var(--bg-primario);            
}